body{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #EEF;
    font-family: 'Times New Roman', Times, serif;
}
