śś
        h1{
            color: rgb(245, 147, 188);
        }
        h2{
            color: rgb(25, 128, 141);
        }
        h3{
            color: rgb(12, 61, 73);
        }
        p{
            color: rgb(64, 24, 90) ;
        }
        img{
            border-radius:100%;
        }
        
    
